* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 1200px;
    margin: 0 auto;
}

header,
nav,
footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

header {
    font-size: 1.25em;
    letter-spacing: 1em;
    font-weight: bold;
    border: solid 1px rgb(200, 200, 200);
}

nav {
    background-color: rgb(50, 50, 50);
    color: gray;
}

ul>li {
    list-style-type: none;
    float: left;
    width: 120px;
    font-weight: bold;
}

ul>li:hover {
    background-color: rgb(80, 80, 80);
    color: white;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: gray
}

a:visited {
    text-decoration: none;
    color: gray
}

ul {
    overflow: hidden;
}

main>* {
    float: left;
}

main {
    overflow: hidden;
}

aside {
    background-color: lightgray;
    width: 100px;
    text-align: center;
    height: 200px;
    line-height: 200px;
}

section {
    min-height: 600px;
    width: 1000px;
    padding: 20px;
}

.form-label {
    margin-bottom: -8px;
}

.form-control {
    margin-top: -8px;
}

footer {
    border: 1px solid rgb(77, 124, 110);
}