<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      message = "{{message}}";
      if (message != "") alert(message);
    </script>
    <title>Document</title>
  </head>
  <body>
    <form action="/card/insert" method="post">
      <input type="text" name="name" placeholder="이름 입력" />
      <input type="text" name="tel" placeholder="연락처 입력" />
      <button>추가</button>
    </form>
    <table>
      <thead>
        <th>번호</th>
        <th>이름</th>
        <th>연락처</th>
        <th></th>
      </thead>
      <tbody>
        {{name_cards}} {% for card in name_cards %}
        <tr>
          <td>{{card.cno}}</td>
          <td>{{card.name}}</td>
          <td>{{card.tel}}</td>
          <td>
            <form action="/card/delete" method="post">
              <input type="hidden" name="cno" value="{{card.cno}}" />
              <button>삭제</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
